{% extends 'base.html' %} {% load static %} {% block content %}

<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div
    class="page-header-area sec-overlay sec-overlay-black"
    data-bg-img="{% static 'img/photos/bg2.webp' %}"
  >
    <div class="container pt--0 pb--0">
      <div class="row">
        <div class="col-12">
          <div class="page-header-content">
            <h2 class="title">{{company.cname}}</h2>
            <nav class="breadcrumb-area">
              <ul class="breadcrumb justify-content-center">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-sep">//</li>
                <li>Company's Profile</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->

  {% if messages %} {% for message in messages %}
  <div class="alert alert-success text-center" role="alert">{{message}}</div>
  {% endfor %} {% endif %}

  <div class="container" style="margin-top: -60px">
    <div class="row">
      <div class="col-12">
        <div class="employers-details-wrap">
          <div class="employers-details-info">
            <div class="thumb">
              <img
                src="{% static 'uploaded_image/{{company.cimage}}' %}"
                width="130"
                height="130"
                alt="{{company.cname}}"
              />
            </div>
            <div class="content">
              <h4 class="title">{{company.cname}}</h4>
              <ul class="info-list">
                <li>
                  <i class="icofont-location-pin"></i>{{company.clocation}}
                </li>
                {% if user.is_authenticated %}
                <li><i class="icofont-phone"></i> {{company.cphone}}</li>
                {% else %}
                <a href=""
                  ><li>
                    <i class="{% url 'login' %}"></i>&nbsp;&nbsp;&nbsp;Contact
                    Us
                  </li></a
                >
                {% endif %}
              </ul>
              <a href="{% url 'edit_company' company.cname %}">
                <button type="button" class="btn-theme">
                  <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp; Edit
                </button></a
              >
              {% if user.is_authenticated %}
              <button type="button" class="btn-theme btn-white">
                Create Job
              </button>
              {% else %}
              <button type="button" class="btn-theme btn-white">
                Add Review
              </button>
              {% endif %}
            </div>
          </div>
          <div class="employers-counter">
            <div class="counter-item">
              <h4 class="counter">86</h4>
              <h5 class="title">Total jobs</h5>
            </div>
            <div class="counter-item">
              <h4 class="counter">27</h4>
              <h5 class="title">Review</h5>
            </div>
            <div class="counter-item">
              <h4 class="counter">452</h4>
              <h5 class="title">Views</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--== Start Contact Area Wrapper ==-->
  <section class="contact-area contact-page-area" style="margin-top: -200px">
    <div class="container">
      <div class="row contact-page-wrapper">
        {% comment %} JOBS {% endcomment %}

        <!--== Start Recent Job Area Wrapper ==-->
        <section
          class="recent-job-area recent-job-inner-area"
          style="margin-top: -120px"
        >
          <div class="container">
            <div class="row">
              {% for emp in job %}
              <div class="col-md-6 col-lg-4">
                <!--== Start Recent Job Item ==-->
                <div class="recent-job-item recent-job-style2-item">
                  <div class="company-info">
                    <div class="logo">
                      <a href="company-details.html"
                        ><img
                          src="{% static 'img/companies/2.webp' %}"
                          width="75"
                          height="75"
                          alt="Image-HasTech"
                      /></a>
                    </div>
                    <div class="content">
                      <h4 class="name">
                        <a href="company-details.html"
                          >{{emp.jcname|truncatechars:25}}</a
                        >
                      </h4>
                      <p class="address">{{emp.jlocation}}</p>
                    </div>
                  </div>
                  <div class="main-content">
                    <h3 class="title">
                      <a href="job-details.html">{{emp.jposition}}</a>
                    </h3>
                    <h5 class="work-type" data-text-color="#ff7e00">
                      {{emp.jtype}}
                    </h5>
                    <p class="desc">
                      CSS3, HTML5, Javascript, Bootstrap, Jquery
                    </p>
                  </div>
                  <div class="recent-job-info">
                    <div class="salary">
                      <h4>${{emp.jsalary}}</h4>
                      <p>/monthly</p>
                    </div>
                    <a
                      class="btn-theme btn-sm"
                      href="{% url 'remove_job' emp.id %}"
                      >Delete Now</a
                    >
                  </div>
                </div>
                <!--== End Recent Job Item ==-->
              </div>
              {% endfor %}
              <div class="col-md-6 col-lg-4">
                <!--== Start Recent Job Item ==-->
                <div class="recent-job-item recent-job-style2-item">
                  <div class="company-info">
                    <div class="logo">
                      <a href="company-details.html"
                        ><img
                          src="{% static 'img/companies/3.webp' %}"
                          width="75"
                          height="75"
                          alt="Image-HasTech"
                      /></a>
                    </div>
                    <div class="content">
                      <h4 class="name">
                        <a href="company-details.html">Cogent Data</a>
                      </h4>
                      <p class="address">New York, USA</p>
                    </div>
                  </div>
                  <div class="main-content">
                    <h3 class="title">
                      <a href="job-details.html">Graphic Designer</a>
                    </h3>
                    <h5 class="work-type" data-text-color="#0054ff">Remote</h5>
                    <p class="desc">
                      CSS3, HTML5, Javascript, Bootstrap, Jquery
                    </p>
                  </div>
                  <div class="recent-job-info">
                    <div class="salary">
                      <h4>$5000</h4>
                      <p>/monthly</p>
                    </div>
                    <a class="btn-theme btn-sm" href="job-details.html"
                      >Apply Now</a
                    >
                  </div>
                </div>
                <!--== End Recent Job Item ==-->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <div class="pagination-area">
                  <nav>
                    <ul class="page-numbers d-inline-flex">
                      <li>
                        <a
                          class="page-number active"
                          href="{% url 'company_profile' %}"
                          >1</a
                        >
                      </li>
                      <li>
                        <a class="page-number" href="job.html">2</a>
                      </li>
                      <li>
                        <a class="page-number" href="job.html">3</a>
                      </li>
                      <li>
                        <a class="page-number next" href="job.html">
                          <i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--== End Recent Job Area Wrapper ==-->

        <div class="col-lg-12">
          <div class="contact-info-wrap">
            <div class="info-item">
              <div class="icon">
                <img
                  src="{% static 'img/icons/c1.webp' %}"
                  alt="Image"
                  width="42"
                  height="42"
                />
              </div>
              <div class="info">
                <h5 class="title">Call Us:</h5>
                <p>
                  <a href="tel://568975468">(00) 568 975 468</a><br />
                  <a href="tel://+88465748937">+88 465 748 937</a>
                </p>
              </div>
            </div>
            <div class="info-item">
              <div class="icon">
                <img
                  src="{% static 'img/icons/c2.webp' %}"
                  alt="Image"
                  width="43"
                  height="73"
                />
              </div>
              <div class="info">
                <h5 class="title">Email:</h5>
                <p>
                  <a href="mailto://youremail@gmail.com">youremail@gmail.com</a
                  ><br />
                  <a href="mailto://demomail@gmail.com">demomail@gmail.com</a>
                </p>
              </div>
            </div>
            <div class="info-item">
              <div class="icon">
                <img
                  src="{% static 'img/icons/c3.webp' %}"
                  alt="Image"
                  width="36"
                  height="46"
                />
              </div>
              <div class="info">
                <h5 class="title">Address:</h5>
                <p>
                  Sunset Beach, North <br />
                  Carolina(NC), 28468
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <!--== Start Contact Form ==-->
          <div class="contact-form">
            <h4 class="contact-form-title">Get in Touch</h4>
            <form id="contact-form" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      name="uname"
                      placeholder="Name:"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="email"
                      name="uemail"
                      placeholder="Email:"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Subject:"
                      name="subject"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      name="con_message"
                      placeholder="Message"
                      name="message"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb--0">
                    <button class="btn-theme d-block w-100" type="submit">
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--== End Contact Form ==-->

          {% comment %}
          <!--== Message Notification ==-->
          <div class="form-message"></div>
          {% endcomment %}
        </div>
        <div class="col-lg-6">
          <div class="map-area">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1912972.6636523942!2d144.28416561146162!3d-38.05127959850456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2sbd!4v1634028820404!5m2!1sen!2sbd"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Contact Area Wrapper ==-->
</main>
{% endblock content %}
