{% extends 'base.html' %} {% load static %} {% block content %}

<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div
    class="page-header-area sec-overlay sec-overlay-black"
    data-bg-img="{% static 'img/photos/bg2.webp' %}"
  >
    <div class="container pt--0 pb--0">
      <div class="row">
        <div class="col-12">
          <div class="page-header-content">
            <h2 class="title">Contact Us</h2>
            <nav class="breadcrumb-area">
              <ul class="breadcrumb justify-content-center">
                <li><a href="index.html">Home</a></li>
                <li class="breadcrumb-sep">//</li>
                <li>Contact</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->

  <!--== Start Contact Area Wrapper ==-->
  <section class="contact-area contact-page-area">
    <div class="container">
      <div class="row contact-page-wrapper">
        <div class="col-lg-12">
          <div class="contact-info-wrap">
            <div class="info-item">
              <div class="icon">
                <img
                  src="{% static 'img/icons/c1.webp' %}"
                  alt="Image"
                  width="42"
                  height="42"
                />
              </div>
              <div class="info">
                <h5 class="title">Call Us:</h5>
                <p>
                  {% if user.is_authenticated %}
                  <a href="tel://+918982661645">(+91) 89826-61645</a><br />
                  <a href="tel://+917000169166">(+91) 70001-69166</a><br />
                  {% else %}
                  <a href="#">(+91) 7000******</a><br />
                  <a href="#">(+91) 8982******</a><br />
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="info-item">
              <div class="icon">
                <img
                  src="{% static 'img/icons/c2.webp' %}"
                  alt="Image"
                  width="43"
                  height="73"
                />
              </div>
              <div class="info">
                <h5 class="title">Email:</h5>
                <p>
                  <a href="mailto://youremail@gmail.com">youremail@gmail.com</a
                  ><br />
                  <a href="mailto://demomail@gmail.com">demomail@gmail.com</a>
                </p>
              </div>
            </div>
            <div class="info-item">
              <div class="icon">
                <img
                  src="{% static 'img/icons/c3.webp' %}"
                  alt="Image"
                  width="36"
                  height="46"
                />
              </div>
              <div class="info">
                <h5 class="title">Address:</h5>
                <p>
                  Vijay Nagar Square <br />
                  Indore(MP), 452010
                </p>
              </div>
            </div>
          </div>
        </div>

        {% comment %} {% if messages %} {% for message in messages %}
        <div class="container">
          <div class="alert alert-success" role="alert">{{message}}</div>
        </div>
        {% endfor %} {% endif %} {% endcomment %}
        <div class="col-lg-6">
          <!--== Start Contact Form ==-->
          <div class="contact-form">
            <h4 class="contact-form-title">Get in Touch</h4>
            <form id="contact-form" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      name="uname"
                      placeholder="Name:"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="email"
                      name="uemail"
                      placeholder="Email:"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Subject:"
                      name="subject"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      placeholder="Message"
                      name="message"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb--0">
                    <button class="btn-theme d-block w-100" type="submit">
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--== End Contact Form ==-->

          {% comment %}
          <!--== Message Notification ==-->
          <div class="form-message"></div>
          {% endcomment %}
        </div>
        <div class="col-lg-6">
          <div class="map-area">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1839.6958735226356!2d75.8946357582996!3d22.750838669794412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396302aa0cd59c5d%3A0x57ef6ab67c13ea2b!2sVijay%20Nagar%20Square%2C%20Vijay%20Nagar%2C%20Indore%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1665983134994!5m2!1sen!2sin"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Contact Area Wrapper ==-->
</main>
{% endblock content %}
