{% extends 'base.html' %} {% load static %} {% block content %}

    <main class="main-content">
      <!--== Start Page Header Area Wrapper ==-->
      <div
        class="page-header-area sec-overlay sec-overlay-black"
        data-bg-img="{% static 'img/photos/bg2.webp' %}"
      >
        <div class="container pt--0 pb--0">
          <div class="row">
            <div class="col-12">
              <div class="page-header-content">
                <h2 class="title">Register Page</h2>
                <nav class="breadcrumb-area">
                  <ul class="breadcrumb justify-content-center">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-sep">//</li>
                    <li>Company Registration</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--== End Page Header Area Wrapper ==-->

      <!--== Start Login Area Wrapper ==-->
      <section class="account-login-area">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-7 col-xl-6">
              <div class="login-register-form-wrap register-form-wrap">
                <div class="login-register-form">
                  <div class="form-title">
                    <h4 class="title">Register Now</h4>
                  </div>
                  {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-alert d-flex align-items-center text-center" role="alert">
                          {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}
                  {% comment %} <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link active"
                        id="candidate-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#candidate"
                        type="button"
                        role="tab"
                        aria-controls="candidate"
                        aria-selected="true"
                      >
                        <i class="icofont-businessman"></i> Candidate
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link"
                        id="employer-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#employer"
                        type="button"
                        role="tab"
                        aria-controls="employer"
                        aria-selected="false"
                      >
                        <i class="icofont-bag-alt"></i> Employer
                      </button>
                    </li>
                  </ul> {% endcomment %}
                  <div class="tab-content" id="pills-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="candidate"
                      role="tabpanel"
                      aria-labelledby="candidate-tab"
                    >

                    <div class="image text-center mb-2" >
                      <img src="{{company.cimage.url}}" id="company_profile_img" alt="company_profile" style="height:150px; width:auto"  />
                    </div>

                    <script>
                      function showPreview(event){
                        if(event.target.files.length > 0){
                          var src = URL.createObjectURL(event.target.files[0]);
                          var preview = document.getElementById("company_profile_img");
                          preview.src = src;
                          
                        }
                      }
                    </script>
                    <form action="#" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Company Name"
                                name='cname'
                                value="{{company.cname}}"
                              />
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="form-group">
                              <input
                                class="form-control"
                                type="file"
                                placeholder="Upload"
                                name='pro_img'
                                accept=".png, .jpg, .jpeg"
                                value="{{company.cimage.url}}"
                              />
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="form-group">
                              <input
                                class="form-control"
                                type="email"
                                placeholder="Email"
                                name='cemail'
                                value="{{company.cemail}}"
                                required
                              />
                            </div>
                          </div>
                          
                          <div class="col-12">
                            <div class="form-group">
                              <input
                                class="form-control"
                                type="tel"
                                placeholder="Contact No."
                                name='cphone'
                                value="{{company.cphone}}"
                                required
                              />
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="form-group">
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Location"
                                name='clocation'
                                value="{{company.clocation}}"
                                required
                              />
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="form-group">
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Description"
                                name='cdescription'
                                value="{{company.cdescription}}"
                                required
                              />
                            </div>
                          </div>


                          <div class="col-12">
                            <div class="form-group">
                              <div class="remember-forgot-info">
                                <div class="remember">
                                  <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="defaultCheck1"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="defaultCheck1"
                                    >Accept our terms and conditions and
                                    privacy policy.</label
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <button type="submit" class="btn-theme">
                                Register Now
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="employer"
                      role="tabpanel"
                      aria-labelledby="employer-tab"
                    >
                    </div>
                  </div>
                  <div class="login-register-form-info">
                    <p>
                      Already have an account? <a href="{% url 'login' %}">Login</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--== End Login Area Wrapper ==-->
    </main>
  </div>
</body>
{% endblock content %}
