{% extends 'base.html' %} {% load static %} {% block content %}



    <main class="main-content">
      <!--== Start Hero Area Wrapper ==-->
      <section class="home-slider-area">
        <div class="home-slider-container default-slider-container">
          <div class="home-slider-wrapper slider-default">
            <div
              class="slider-content-area"
              data-bg-img="{% static 'img/slider/slider-bg2.webp' %}"
            >
              <div class="container pt--0 pb--0">
                <div class="slider-container">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-8">
                      <div class="slider-content">
                        <h2 class="title">
                          <span class="counter" data-counterup-delay="80"
                            >2,568</span
                          >
                          job available <br />You can choose your dream job
                        </h2>
                        <p class="desc">
                          Find a great job to build your bright career.
                        </p>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="job-search-wrap">
                        <div class="job-search-form">
                          <form action="#">
                            <div class="row row-gutter-10">
                              <div
                                class="col-lg-auto col-sm-6 col-12 flex-grow-1"
                              >
                                <div class="form-group">
                                  <input
                                    type="text"
                                    class="form-control"
                                    style="height: 54px !important; line-height:54px"
                                    placeholder="Job title or keywords"
                                  />
                                </div>
                              </div>
                              <div
                                class="col-lg-auto col-sm-6 col-12 flex-grow-1"
                              >
                                <div class="form-group">
                                  <select class="form-control" style="height: 54px !important; line-height:54px">
                                    <option value="1" selected>
                                      Choose City
                                    </option>
                                    <option value="2">New York</option>
                                    <option value="3">California</option>
                                    <option value="4">Illinois</option>
                                    <option value="5">Texas</option>
                                    <option value="6">Florida</option>
                                  </select>
                                </div>
                              </div>
                              <div
                                class="col-lg-auto col-sm-6 col-12 flex-grow-1"
                              >
                                <div class="form-group">
                                  <select class="form-control" style="height: 54px !important; line-height:54px">
                                    <option value="1" selected>Category</option>
                                    <option value="2">Web Designer</option>
                                    <option value="3">Web Developer</option>
                                    <option value="4">Graphic Designer</option>
                                    <option value="5">App Developer</option>
                                    <option value="6">
                                      UI &amp; UX Expert
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div
                                class="col-lg-auto col-sm-6 col-12 flex-grow-1"
                              >
                                <div class="form-group" style="height: 54px !important;">
                                  <button type="button" class="btn-form-search" style="height: 54px !important;">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container pt--0 pb--0">
          <div class="row">
            <div class="col-12">
              <div class="play-video-btn">
                <a
                  href= "{% static 'img/hiring.png' %}"
                  class="video-popup"
                >
                  <img
                    src="{% static 'img/icons/play.webp' %}"
                    alt="Image-HasTech"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="home-slider-shape">
          <img
            class="shape1"
            data-aos="fade-down"
            data-aos-duration="1500"
            src="{% static 'img/slider/vector1.webp' %}"
            width="270"
            height="234"
            alt="Image-HasTech1"
          />
          <img
            class="shape2"
            data-aos="fade-left"
            data-aos-duration="2000"
            src="{% static 'img/slider/vector2.webp' %}"
            width="201"
            height="346"
            alt="Image-HasTech2"
          />
          <img
            class="shape3"
            data-aos="fade-right"
            data-aos-duration="2000"
            src="{% static 'img/slider/vector3.webp' %}"
            width="276"
            height="432"
            alt="Image-HasTech3"
          />
          <img
            class="shape4"
            data-aos="flip-left"
            data-aos-duration="1500"
            src="{% static 'img/slider/vector4.webp' %}"
            width="127"
            height="121"
            alt="Image-HasTech4"
          />
        </div>
      </section>
      <!--== End Hero Area Wrapper ==-->

      <!--== Start Job Category Area Wrapper ==-->
      <section class="job-category-area">
        <div class="container" data-aos="fade-down">
          <div class="row">
            <div class="col-12">
              <div class="section-title text-center">
                <h3 class="title">Popular Category</h3>
                <div class="desc">
                  <p>Many desktop publishing packages and web page editors</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-gutter-20">
            <div class="col-sm-6 col-lg-3">
              <!--== Start Job Category Item ==-->
              <div class="job-category-item">
                <div class="content">
                  <h3 class="title">
                    <a href="{% url 'jobs' %}"
                      >Accounting/Finance <span>(305)</span></a
                    >
                  </h3>
                </div>
                <a class="overlay-link" href="{% url 'jobs' %}"></a>
              </div>
              <!--== End Job Category Item ==-->
            </div>
            <div class="col-sm-6 col-lg-3">
              <!--== Start Job Category Item ==-->
              <div class="job-category-item">
                <div class="content">
                  <h3 class="title">
                    <a href="{% url 'jobs' %}"
                      >Production/Operation <span>(95)</span></a
                    >
                  </h3>
                </div>
                <a class="overlay-link" href="{% url 'jobs' %}"></a>
              </div>
              <!--== End Job Category Item ==-->
            </div>
            <div class="col-sm-6 col-lg-3">
              <!--== Start Job Category Item ==-->
              <div class="job-category-item">
                <div class="content">
                  <h3 class="title">
                    <a href="{% url 'jobs' %}"
                      >Security/Support Service <span>(62)</span></a
                    >
                  </h3>
                </div>
                <a class="overlay-link" href="{% url 'jobs' %}"></a>
              </div>
              <!--== End Job Category Item ==-->
            </div>
            <div class="col-sm-6 col-lg-3">
              <!--== Start Job Category Item ==-->
              <div class="job-category-item">
                <div class="content">
                  <h3 class="title">
                    <a href="{% url 'jobs' %}"
                      >Security/Support Service <span>(62)</span></a
                    >
                  </h3>
                </div>
                <a class="overlay-link" href="{% url 'jobs' %}"></a>
              </div>
              <!--== End Job Category Item ==-->
            </div>
          </div>
        </div>
      </section>
      <!--== End Job Category Area Wrapper ==-->

      <!--== Start Recent Job Area Wrapper ==-->
      <section class="recent-job-area bg-color-gray">
        <div class="container" data-aos="fade-down">
          <div class="row">
            <div class="col-12">
              <div class="section-title text-center">
                <h3 class="title">Recent Job Circulars</h3>
                <div class="desc">
                  <p>Many desktop publishing packages and web page editors</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {% for job in job_order %}
            <div class="col-md-6 col-lg-4">
              <!--== Start Recent Job Item ==-->
              <div class="recent-job-item">
                <div class="company-info">
                  <div class="logo">
                    <a href="company-details.html"
                      ><img
                        src="{{job.jcname.cimage.url}}"
                        width="75"
                        height="75"
                        alt="{{job.jcname}}"
                    /></a>
                  </div>
                  <div class="content">
                    <h4 class="name">
                      <a href="company-details.html">{{job.jcname|truncatechars:25 }}</a>
                    </h4>
                    <p class="address">{{job.jlocation}}</p>
                  </div>
                </div>
                <div class="main-content">
                  <h3 class="title">
                    <a href="job-details.html">{{job.jposition|truncatechars:20 }}</a>
                  </h3>
                  {% if job.job_type == "Full-Time" %}
                  <h5 class="work-type" >{{job.jtype}}</h5>
                  {% elif job.job_type == "Remote" %}
                  <h5 class="work-type" data-text-color="#0054ff">{{job.jtype}}</h5>
                  {% elif job.job_type == "Part-Time" %}
                  <h5 class="work-type" data-text-color="#ff7e00">{{job.jtype}}</h5>
                  {% else %}
                  <h5 class="work-type" data-text-color="#ff7e00">{{job.jtype}}</h5>
                  {% endif %}
                  <p class="desc">{{job.jdesc|truncatechars:65}}</p>
                </div>
                <div class="recent-job-info">
                  <div class="salary">
                    <h4>₹{{job.jsalary}}</h4>
                    <p>/monthly</p>
                  </div>
                  <a class="btn-theme btn-sm" href="{% url 'company_view' job.jcname %}"
                    >Apply Now</a
                  >
                </div>
              </div>
              <!--== End Recent Job Item ==-->
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!--== End Recent Job Area Wrapper ==-->

      <!--== Start Work Process Area Wrapper ==-->
      <section class="work-process-area">
        <div class="container" data-aos="fade-down">
          <div class="row">
            <div class="col-12">
              <div class="section-title text-center">
                <h3 class="title">How To Apply?</h3>
                <div class="desc">
                  <p>By the below-mentioned steps, you can apply to your favourite company.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="working-process-content-wrap">
                <div class="working-col">
                  <!--== Start Work Process ==-->
                  <div class="working-process-item">
                    <a href="{% url 'register' %}">
                      <div class="icon-box">
                        <div class="inner">
                          <img
                            class="icon-img"
                            src="{% static 'img/icons/w1.webp' %}"
                            alt="Image-HasTech"
                          />
                          <img
                            class="icon-hover"
                            src="{% static 'img/icons/w1-hover' %}.webp"
                            alt="Image-HasTech"
                          />
                        </div>
                      </div>
                      <div class="content">
                        <h4 class="title">Create an Account</h4>
                        <p class="desc">
                          Sign up to get access to free resources and latest job news.
                        </p>
                      </div>
                    </a>
                    <div class="shape-arrow-icon">
                      <img
                        class="shape-icon"
                        src="{% static 'img/icons/right-arrow' %}.webp"
                        alt="Image-HasTech"
                      />
                      <img
                        class="shape-icon-hover"
                        src="{% static 'img/icons/right-arrow2' %}.webp"
                        alt="Image-HasTech"
                      />
                    </div>
                  </div>
                  <!--== End Work Process ==-->
                </div>
                {% comment %} <div class="working-col">
                  <!--== Start Work Process ==-->
                  <div class="working-process-item">
                    <div class="icon-box">
                      <div class="inner">
                        <img
                          class="icon-img"
                          src="{% static 'img/icons/w2.webp' %}"
                          alt="Image-HasTech"
                        />
                        <img
                          class="icon-hover"
                          src="{% static 'img/icons/w2-hover' %}.webp"
                          alt="Image-HasTech"
                        />
                      </div>
                    </div>
                    <div class="content">
                      <h4 class="title">CV/Resume</h4>
                      <p class="desc">
                        It is long established fact reader distracted readable
                        content
                      </p>
                    </div>
                    <div class="shape-arrow-icon">
                      <img
                        class="shape-icon"
                        src="{% static 'img/icons/right-arrow' %}.webp"
                        alt="Image-HasTech"
                      />
                      <img
                        class="shape-icon-hover"
                        src="{% static 'img/icons/right-arrow2' %}.webp"
                        alt="Image-HasTech"
                      />
                    </div>
                  </div>
                  <!--== End Work Process ==-->
                </div> {% endcomment %}
                <div class="working-col">
                  <!--== Start Work Process ==-->
                  <div class="working-process-item">
                    <div class="icon-box">
                      <div class="inner">
                        <img
                          class="icon-img"
                          src="{% static 'img/icons/w3.webp' %}"
                          alt="Image-HasTech"
                        />
                        <img
                          class="icon-hover"
                          src="{% static 'img/icons/w3-hover' %}.webp"
                          alt="Image-HasTech"
                        />
                      </div>
                    </div>
                    <div class="content">
                      <h4 class="title">Find Your Job</h4>
                      <p class="desc">
                        Find a job that better fits your life.
                      </p>
                    </div>
                    <div class="shape-arrow-icon">
                      <img
                        class="shape-icon"
                        src="{% static 'img/icons/right-arrow' %}.webp"
                        alt="Image-HasTech"
                      />
                      <img
                        class="shape-icon-hover"
                        src="{% static 'img/icons/right-arrow2' %}.webp"
                        alt="Image-HasTech"
                      />
                    </div>
                  </div>
                  <!--== End Work Process ==-->
                </div>
                <div class="working-col">
                  <!--== Start Work Process ==-->
                  <div class="working-process-item">
                    <div class="icon-box">
                      <div class="inner">
                        <img
                          class="icon-img"
                          src="{% static 'img/icons/w4.webp' %}"
                          alt="Image-HasTech"
                        />
                        <img
                          class="icon-hover"
                          src="{% static 'img/icons/w4-hover' %}.webp"
                          alt="Image-HasTech"
                        />
                      </div>
                    </div>
                    <div class="content">
                      <h4 class="title">Save & Apply</h4>
                      <p class="desc">
                        You are just a step away from getting a job.
                      </p>
                    </div>
                    <div class="shape-arrow-icon d-none">
                      <img
                        class="shape-icon"
                        src="{% static 'img/icons/right-arrow' %}.webp"
                        alt="Image-HasTech"
                      />
                      <img
                        class="shape-icon-hover"
                        src="{% static 'img/icons/right-arrow2' %}.webp"
                        alt="Image-HasTech"
                      />
                    </div>
                  </div>
                  <!--== End Work Process ==-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--== End Work Process Area Wrapper ==-->

      <!--== Start Divider Area Wrapper ==-->
      <section
        class="sec-overlay sec-overlay-theme bg-img"
        data-bg-img="{% static 'img/photos/bg.webp' %}"
      >
        <div class="container pt--0 pb--0">
          <div class="row justify-content-center divider-style1">
            <div class="col-lg-10 col-xl-7">
              <div class="divider-content text-center">
                <h4 class="title" data-aos="fade-down">
                  Book your Free IT Expert Session
                </h4>
                <p class="sub-title" data-aos="fade-down">
                  You can take the IT Expert session from anywhere as per your convenience.<br/>A laptop or mobile with good internet connection for facilitating LIVE Session is required.
                </p>
                <div class="divider-btn-group">
                  <a
                    class="btn-divider"
                    data-aos="fade-down"
                    href="https://wa.me/917974566123?text=Hello%2C%20%0AFor%20enquiry%2C%20fill%20the%20form%0AName%3A%20%0AEmail%3A%20%0AQuery%3A%20%0AOur%20support%20team%20will%20contact%20you%20soon!"
                  >
                    <img
                      src="{% static 'img/photos/whatsapp' %}.png"
                      width="201"
                      height="63"
                      class="icon"
                      alt="Image-HasTech"
                    />
                  </a>
                  <a
                    class="btn-divider btn-divider-app-store"
                    data-aos="fade-down"
                    href="{% url 'contact' %}"
                  >
                    <img
                      src="{% static 'img/photos/contact-us' %}.png"
                      width="201"
                      height="63"
                      class="icon"
                      alt="Image-HasTech"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-layer-style1"></div>
        <div class="bg-layer-style2"></div>
      </section>
      <!--== End Divider Area Wrapper ==-->

      <!--== Start Team Area Wrapper ==-->
      <section class="team-area">
        <div class="container" data-aos="fade-down">
          <div class="row">
            <div class="col-12">
              <div class="section-title text-center">
                <h3 class="title">Best Candidate</h3>
                <div class="desc">
                  <p>Many desktop publishing packages and web page editors</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!--== Start Team Item ==-->
              <div class="team-item">
                <div class="thumb">
                  <a href="candidate-details.html">
                    <img
                      src="{% static 'img/team/1.webp' %}"
                      width="160"
                      height="160"
                      alt="Image-HasTech"
                    />
                  </a>
                </div>
                <div class="content">
                  <h4 class="title">
                    <a href="candidate-details.html">Vishal Singh</a>
                  </h4>
                  <h5 class="sub-title">Web Designer</h5>
                  <div class="rating-box">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <p class="desc">CSS3, HTML5, Javascript Bootstrap, Jquery</p>
                  <a
                    class="btn-theme btn-white btn-sm"
                    href="{% url 'home' %}"
                    >View Profile</a
                  >
                </div>
                <div class="bookmark-icon">
                  <img
                    src="{% static 'img/icons/bookmark1.webp' %}"
                    alt="Image-HasTech"
                  />
                </div>
                <div class="bookmark-icon-hover">
                  <img
                    src="{% static 'img/icons/bookmark2.webp' %}"
                    alt="Image-HasTech"
                  />
                </div>
              </div>
              <!--== End Team Item ==-->
            </div>
            {% for i in user_obj %}
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!--== Start Team Item ==-->
              
              <div class="team-item">
                <div class="thumb">
                  <a href="candidate-details.html">
                    <img
                      src="{{i.user_img.url}}"
                      width="160"
                      height="160"
                      alt="Image-HasTech"
                    />
                  </a>
                </div>
                <div class="content">
                  <h4 class="title">
                    <a href="candidate-details.html">{{i.full_name}}</a>
                  </h4>
                  <h5 class="sub-title">UI/UX Designer</h5>
                  <div class="rating-box">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <p class="desc">CSS3, HTML5, Javascript Bootstrap, Jquery</p>
                  <a
                    class="btn-theme btn-white btn-sm"
                    href="{% url 'user_view' i.username %}"
                    >View Profile</a
                  >
                </div>
                <div class="bookmark-icon">
                  <img
                    src="{% static 'img/icons/bookmark1.webp' %}"
                    alt="Image-HasTech"
                  />
                </div>
                <div class="bookmark-icon-hover">
                  <img
                    src="{% static 'img/icons/bookmark2.webp' %}"
                    alt="Image-HasTech"
                  />
                </div>
              </div>
              
              <!--== End Team Item ==-->
            </div>
            {% endfor %}
            
            
          </div>
        </div>
      </section>
      <!--== End Team Area Wrapper ==-->

      <!--== Start Brand Logo Area Wrapper ==-->
      <div class="brand-logo-area">
        <div class="container pt--0 pb--0" data-aos="fade-down">
          <div class="row">
            <div class="col-12">
              <div class="brand-logo-content">
                <div class="swiper brand-logo-slider-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <p>Manish</p>
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <img
                          src="{% static 'img/brand-logo/2' %}.webp"
                          alt="Image-HasTech"
                        />
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <img
                          src="{% static 'img/brand-logo/3' %}.webp"
                          alt="Image-HasTech"
                        />
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <img
                          src="{% static 'img/brand-logo/4' %}.webp"
                          alt="Image-HasTech"
                        />
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <img
                          src="{% static 'img/brand-logo/5' %}.webp"
                          alt="Image-HasTech"
                        />
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <img
                          src="{% static 'img/brand-logo/6' %}.webp"
                          alt="Image-HasTech"
                        />
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <img
                          src="{% static 'img/brand-logo/1' %}.webp"
                          alt="Image-HasTech"
                        />
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                  </div>
                </div>
                <!--== Add Swiper Arrows ==-->
                <div class="swiper-btn-wrap">
                  <div class="brand-swiper-btn-prev">
                    <i class="icofont-long-arrow-left"></i>
                  </div>
                  <div class="brand-swiper-btn-next">
                    <i class="icofont-long-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--== End Brand Logo Area Wrapper ==-->


      <!--== Start Testimonial Area Wrapper ==-->
      <section class="testimonial-area bg-color-gray">
        <div class="container" data-aos="fade-down">
          <div class="row">
            <div class="col-12">
              <div class="section-title text-center">
                <h3 class="title">Our Happy Clients</h3>
                <div class="desc">
                  <p>Many desktop publishing packages and web page editors</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="swiper testi-slider-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <!--== Start Testimonial Item ==-->
                    <div class="testimonial-item">
                      <div class="testi-inner-content">
                        <div class="testi-author">
                          <div class="testi-thumb">
                            <img
                              src="{% static 'img/testimonial/1.webp' %}"
                              width="75"
                              height="75"
                              alt="Image-HasTech"
                            />
                          </div>
                          <div class="testi-info">
                            <h4 class="name">Roselia Hamets</h4>
                            <span class="designation">Hiring Manager</span>
                          </div>
                        </div>
                        <div class="testi-content">
                          <p class="desc">
                            It is a long established fact that reader will
                            distracted the readable content page looking at its
                            layout point using that has more-or-less normal
                            distribution of letters opposed using content
                            making.
                          </p>
                          <div class="rating-box">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            
                          </div>
                          <div class="testi-quote">
                            <img
                              src="{% static 'img/icons/quote1.webp' %}"
                              alt="Image-HasTech"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--== End Testimonial Item ==-->
                  </div>
                  <div class="swiper-slide">
                    <!--== Start Testimonial Item ==-->
                    <div class="testimonial-item">
                      <div class="testi-inner-content">
                        <div class="testi-author">
                          <div class="testi-thumb">
                            <img
                              src="{% static 'img/testimonial/2.webp' %}"
                              width="75"
                              height="75"
                              alt="Image-HasTech"
                            />
                          </div>
                          <div class="testi-info">
                            <h4 class="name">Assunta Manson</h4>
                            <span class="designation">Hiring Manager</span>
                          </div>
                        </div>
                        <div class="testi-content">
                          <p class="desc">
                            It is a long established fact that reader will
                            distracted the readable content page looking at its
                            layout point using that has more-or-less normal
                            distribution of letters opposed using content
                            making.
                          </p>
                          <div class="rating-box">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                          </div>
                          <div class="testi-quote">
                            <img
                              src="{% static 'img/icons/quote1.webp' %}"
                              alt="Image-HasTech"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--== End Testimonial Item ==-->
                  </div>
                  <div class="swiper-slide">
                    <!--== Start Testimonial Item ==-->
                    <div class="testimonial-item">
                      <div class="testi-inner-content">
                        <div class="testi-author">
                          <div class="testi-thumb">
                            <img
                              src="{% static 'img/testimonial/3.webp' %}"
                              width="75"
                              height="75"
                              alt="Image-HasTech"
                            />
                          </div>
                          <div class="testi-info">
                            <h4 class="name">Amira Shepard</h4>
                            <span class="designation">Hiring Manager</span>
                          </div>
                        </div>
                        <div class="testi-content">
                          <p class="desc">
                            It is a long established fact that reader will
                            distracted the readable content page looking at its
                            layout point using that has more-or-less normal
                            distribution of letters opposed using content
                            making.
                          </p>
                          <div class="rating-box">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                          </div>
                          <div class="testi-quote">
                            <img
                              src="{% static 'img/icons/quote1.webp' %}"
                              alt="Image-HasTech"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--== End Testimonial Item ==-->
                  </div>
                  <div class="swiper-slide">
                    <!--== Start Testimonial Item ==-->
                    <div class="testimonial-item">
                      <div class="testi-inner-content">
                        <div class="testi-author">
                          <div class="testi-thumb">
                            <img
                              src="{% static 'img/testimonial/4.webp' %}"
                              width="75"
                              height="75"
                              alt="Image-HasTech"
                            />
                          </div>
                          <div class="testi-info">
                            <h4 class="name">Joshua George</h4>
                            <span class="designation">Hiring Manager</span>
                          </div>
                        </div>
                        <div class="testi-content">
                          <p class="desc">
                            It is a long established fact that reader will
                            distracted the readable content page looking at its
                            layout point using that has more-or-less normal
                            distribution of letters opposed using content
                            making.
                          </p>
                          <div class="rating-box">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                          </div>
                          <div class="testi-quote">
                            <img
                              src="{% static 'img/icons/quote1.webp' %}"
                              alt="Image-HasTech"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--== End Testimonial Item ==-->
                  </div>
                  <div class="swiper-slide">
                    <!--== Start Testimonial Item ==-->
                    <div class="testimonial-item">
                      <div class="testi-inner-content">
                        <div class="testi-author">
                          <div class="testi-thumb">
                            <img
                              src="{% static 'img/testimonial/5.webp' %}"
                              width="75"
                              height="75"
                              alt="Image-HasTech"
                            />
                          </div>
                          <div class="testi-info">
                            <h4 class="name">Rosie Patton</h4>
                            <span class="designation">Hiring Manager</span>
                          </div>
                        </div>
                        <div class="testi-content">
                          <p class="desc">
                            It is a long established fact that reader will
                            distracted the readable content page looking at its
                            layout point using that has more-or-less normal
                            distribution of letters opposed using content
                            making.
                          </p>
                          <div class="rating-box">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                          </div>
                          <div class="testi-quote">
                            <img
                              src="{% static 'img/icons/quote1.webp' %}"
                              alt="Image-HasTech"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--== End Testimonial Item ==-->
                  </div>
                </div>

                <!--== Add Swiper Pagination ==-->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--== End Testimonial Area Wrapper ==-->

      <!--== Start Blog Area Wrapper ==-->
      <section class="blog-area blog-home-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title text-center">
                <h3 class="title">Recent News Articles</h3>
                <div class="desc">
                  <p>Many desktop publishing packages and web page editors</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center post-home-style row-gutter-40">
            <div class="col-md-6 col-lg-4" data-aos="fade-right">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                <div class="thumb">
                  <a href="blog-details.html"
                    ><img
                      src="{% static 'img/blog/1.webp' %}"
                      alt="Image"
                      width="370"
                      height="270"
                  /></a>
                </div>
                <div class="content">
                  <div class="author">
                    By <a href="blog.html">Walter Houston</a>
                  </div>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >It long established fact that reader will distracted the
                      readable.</a
                    >
                  </h4>
                  <div class="meta">
                    <span class="post-date">03 April, 2022</span>
                    <span class="dots"></span>
                    <span class="post-time">10 min read</span>
                  </div>
                </div>
              </div>
              <!--== End Blog Post Item ==-->
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-center">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                <div class="thumb">
                  <a href="blog-details.html"
                    ><img
                      src="{% static 'img/blog/1.webp' %}"
                      alt="Image"
                      width="370"
                      height="270"
                  /></a>
                </div>
                <div class="content">
                  <div class="author">
                    By <a href="blog.html">Walter Houston</a>
                  </div>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >It long established fact that reader will distracted the
                      readable.</a
                    >
                  </h4>
                  <div class="meta">
                    <span class="post-date">03 April, 2022</span>
                    <span class="dots"></span>
                    <span class="post-time">10 min read</span>
                  </div>
                </div>
              </div>
              <!--== End Blog Post Item ==-->
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-left">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                <div class="thumb">
                  <a href="blog-details.html"
                    ><img
                      src="{% static 'img/blog/1.webp' %}"
                      alt="Image"
                      width="370"
                      height="270"
                  /></a>
                </div>
                <div class="content">
                  <div class="author">
                    By <a href="blog.html">Walter Houston</a>
                  </div>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >It long established fact that reader will distracted the
                      readable.</a
                    >
                  </h4>
                  <div class="meta">
                    <span class="post-date">03 April, 2022</span>
                    <span class="dots"></span>
                    <span class="post-time">10 min read</span>
                  </div>
                </div>
              </div>
              <!--== End Blog Post Item ==-->
            </div>  
          </div>
        </div>
      </section>
      <!--== End Blog Area Wrapper ==-->
    </main>

    {% endblock content %}
  </div>
</body>
