{% extends 'base.html' %} {% load static %} {% block content %}
<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div
    class="page-header-area sec-overlay sec-overlay-black"
    data-bg-img="{% static '/img/photos/bg2.webp' %}"
  >
    <div class="container pt--0 pb--0">
      <div class="row">
        <div class="col-12">
          <div class="page-header-content">
            <h2 class="title">Candidate</h2>
            <nav class="breadcrumb-area">
              <ul class="breadcrumb justify-content-center">
                <li><a href="index.html">Home</a></li>
                <li class="breadcrumb-sep">//</li>
                <li>Candidate</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->

  <!--== Start Team Area Wrapper ==-->
  <section class="team-area team-inner2-area">
    <div class="container">
      <div class="row">
        {% for cand in user_obj %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <!--== Start Team Item ==-->
          <div class="team-item">
            <div class="thumb">
              <a href="candidate-details.html">
                <img
                  src="{% static 'img/team/2.webp' %}"
                  width="160"
                  height="160"
                  alt="Image-HasTech"
                />
              </a>
            </div>
            <div class="content">
              <h4 class="title">
                <a href="candidate-details.html">{{cand.first_name}}</a>
              </h4>
              <a href="mailto:{{cand.email}}">
                <h5 class="sub-title">{{cand.email|truncatechars:20}}</h5>
              </a>
              <div class="rating-box">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <p class="desc">CSS3, HTML5, Javascript Bootstrap, Jquery</p>
              <a
                class="btn-theme btn-white btn-sm"
                href="candidate-details.html"
                >View Profile</a
              >
            </div>
            <div class="bookmark-icon">
              <img
                src="{% static 'img/icons/bookmark1.webp' %}"
                alt="Image-HasTech"
              />
            </div>
            <div class="bookmark-icon-hover">
              <img
                src="{% static 'img/icons/bookmark2.webp' %}"
                alt="Image-HasTech"
              />
            </div>
          </div>
          <!--== End Team Item ==-->
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="pagination-area">
            <nav>
              <ul class="page-numbers d-inline-flex">
                <li>
                  <a class="page-number active" href="candidate.html">1</a>
                </li>
                <li>
                  <a class="page-number" href="candidate.html">2</a>
                </li>
                <li>
                  <a class="page-number" href="candidate.html">3</a>
                </li>
                <li>
                  <a class="page-number next" href="candidate.html">
                    <i class="icofont-long-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Team Area Wrapper ==-->
</main>

<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area">
  <!--== Start Footer Top ==-->
  <div class="footer-top">
    <div class="container pt--0 pb--0">
      <div class="row">
        <div class="col-lg-5">
          <div class="footer-newsletter-content">
            <h4 class="title">Subscribe for everyday job newsletter.</h4>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="footer-newsletter-form">
            <form action="#">
              <input type="email" placeholder="Enter your email" />
              <button type="submit" class="btn-newsletter">
                Subscribe Now
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Footer Top ==-->
</footer>
{% endblock content %}
