{% extends 'base.html' %} {% load static %} {% block content %}

<main class="main-content">
  <main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div
      class="page-header-area sec-overlay sec-overlay-black"
      data-bg-img="{% static '/img/photos/bg2.webp' %}"
    >
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="page-header-content">
              <h2 class="title">Apply Now</h2>
              <nav class="breadcrumb-area">
                <ul class="breadcrumb justify-content-center">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li class="breadcrumb-sep">//</li>
                  <li>Apply</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Content Area Wrapper ==-->
    <section style="background-color: #f4f5f7">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-3" style="border-radius: 0.5rem">
              <div class="row g-0">
                <div
                  class="col-md-4 text-center"
                  style="
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                  "
                >
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="Avatar"
                    class="img-fluid my-5"
                    style="width: 80px"
                  />
                  <h5>Marie Horwitz</h5>
                  <p>Web Designer</p>
                  <a href="{% url 'profile' %}"
                    ><i class="far fa-edit mb-5"></i
                  ></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body p-4 text-center">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4" />
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <h6>Email</h6>
                        <p class="text-muted">info@example.com</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Phone</h6>
                        <p class="text-muted">123 456 789</p>
                      </div>
                    </div>
                    <h6>Job Details</h6>
                    <hr class="mt-0 mb-4" />
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <h6>Job</h6>
                        <p class="text-muted">Lorem ipsum</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Company Name</h6>
                        <p class="text-muted">Dolor sit amet</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-start">
                      <button
                        type="button"
                        class="btn btn-success btn-rounded btn-block btn-lg"
                      >
                        <i class="far fa-clock me-2"></i>Apply Now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Content Area Wrapper ==-->
  </main>
</main>
{% endblock content %}
